#header-menu {
  position: fixed;
  top: 0;
  align: center;
  width: 100%;
  background: #4286f4;
  color: white;
}

#header-title {
  margin-left: 50px;
}

body {
  margin: 0;
}

h1 {
  font-family: Arial;
}
